.stApp{
background:#0F172A;
}

section[data-testid="stSidebar"]{
background:#111827;
}

h1,h2,h3,h4,h5,h6,label,p{
color:white;
}

div[data-testid="metric-container"]{
background:#1E293B;
border-radius:15px;
padding:18px;
border:1px solid #334155;
box-shadow:0 2px 12px rgba(0,0,0,.35);
}

[data-testid="stFileUploader"]{
background:#1E293B;
padding:15px;
border-radius:15px;
}

.stButton>button{
border-radius:10px;
background:#2563EB;
color:white;
}